* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background: #E5E5E5;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 5vw 3vh 5vw;
}

.logo, .contato {
    margin: 1.1rem 0 0 0;
}

main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.criptografia {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 50%;
    margin: 0 0 0 5vw;
}

.texto, .texto-resultado {
    resize: none;
    font-size: 1.57rem;
    color: darkblue;
    padding: 0.63rem;
    border-radius: 1.57rem;
}

.texto::placeholder {
    color: rgba(0, 0, 139, 0.918);
}

.texto {
    background: #E5E5E5;
    border-style: dashed;
    border-color: rgb(16, 16, 209);
    width: 80%;
    height: 70vh;
}

#aviso {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    color: rgb(87, 87, 87);
}

.btn-criptografia {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5vh;
    gap: 5vw;
}

.btn {
    width: 12.5rem;
    height: 3.12rem;
    font-size: 1.25rem;
    padding: 0.31rem;
    border-radius: 1.10rem;
    color: darkblue;
    font-weight: bold;
    background: #E5E5E5;
    border: 2px solid darkblue;
    transition: 0.5s;
}

.btn:hover {
    width: 12.5rem;
    height: 3.12rem;
    font-size: 1.25rem;
    padding: 0.31rem;
    border-radius: 1.10rem;
    color: white;
    font-weight: bold;
    background: darkblue;
    border-color: darkblue;
    cursor: pointer;
    border: dotted;
}

.resultado {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
}

.texto-resultado::placeholder {
    height: 80vh;
    background: url(sem-mensagem.png);
    background-repeat: no-repeat;
    background-position: center;
    color: darkblue;
    text-align: center;
}

.texto-resultado {
    background: white;
    border-color: darkblue;
    width: 70%;
    height: 90vh;
    box-shadow: 0 24px 32px 8px rgba(31, 28, 75, 0.2);
}

#copiar {
    position: relative;
    bottom: 10vh;
}

footer {
    margin: 1.5rem 0;
}

footer p {
    color: rgb(39, 85, 146);
    font-size: 0.87rem;
    text-align: center;
    margin-bottom: 0.62rem;
}

@media screen and (max-width: 950px) {
    body {
        width: auto;
    }

    main {
        display: block;
    }

    .criptografia, .resultado {
        width: 80%;
        margin: 0;
    }

    #aviso {
        align-items: center;
        margin-left: 3vw;
    }

    .btn, .btn:hover {
        width: 9.37rem;
    }

    #limpar, #limpar:hover {
        width: 9.37rem;
    }

    .btn-criptografia {
        margin-bottom: 5vh;
    }
    .texto, .texto-resultado {
        width: 80%;
        height: 60vh;
    }
    .texto-resultado::placeholder {
        height: 80vh;
        font-size: 1.25rem;
    }

    #copiar {
        bottom: 10vh;
    }
}